@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  font-family: "Raleway", sans-serif;
  background-color: #1c2431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em 4em;
}

.nav__logo {
  width: 12%;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  list-style: none;
}

.nav__link {
  color: white;
  text-decoration: none;
}

.hero {
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: #1c2431;
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__illustration {
  width: 40%;
}

.hero__title {
  width: 40%;
  line-height: 1.5;
  text-align: center;
  font-size: 2rem;
}

.hero__desc {
  width: 35%;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

.hero__cta {
  background-color: #339ecc;
  color: white;
  font-weight: 700;
  text-decoration: none;
  padding: 1em 5em;
  border-radius: 25px;
}

.features {
  background-color: #181f2a;
  color: white;
  font-family: "Raleway", sans-serif;
  padding: 0 20%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  -webkit-column-gap: 7rem;
          column-gap: 7rem;
}

.features__feature {
  text-align: center;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9em;
}

.features__desc {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  padding: 8% 10%;
  background-color: #181f2a;
  color: white;
  font-family: "Raleway", sans-serif;
}

.more__image {
  max-width: 100%;
}

.more__title {
  font-size: 3rem;
}

.more__desc {
  font-size: 1.05rem;
  margin-top: 1em;
  line-height: 1.5;
}

.more__link {
  color: #65e2d9;
  line-height: 4rem;
  text-decoration: none;
  border-bottom: #65e2d9 1.5px solid;
}

.testimonies {
  background-color: #181f2a;
  color: white;
  padding: 0 10%;
  padding-top: 3rem;
  padding-bottom: 4rem;
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  position: relative;
  z-index: -2;
}

.testimonies__card {
  background-color: #21293c;
  padding: 2rem;
  border-radius: 4px;
  -webkit-box-shadow: 8px 10px 0 3px rgba(28, 36, 49, 0.5);
          box-shadow: 8px 10px 0 3px rgba(28, 36, 49, 0.5);
  position: relative;
}

.testimonies__card:first-child::before {
  position: absolute;
  content: url("../images/bg-quotes.png");
  top: -2.2rem;
  left: -0.7rem;
  z-index: -1;
}

.testimonies__desc {
  font-size: 0.95rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.95);
}

.testimonies__person {
  margin-top: 1.8rem;
  width: 55%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "pic name" "pic position";
}

.testimonies__pic {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: pic;
  max-width: 80%;
  border-radius: 50%;
}

.testimonies__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-size: 0.8em;
  letter-spacing: 0.08rem;
  font-weight: 700;
  color: white;
}

.testimonies__position {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: position;
  color: rgba(101, 226, 217, 0.95);
  margin-top: 0.5em;
  font-size: 0.6rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */