@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

// Primary
$dark-blue-intro-email: hsl(217, 28%, 15%); // intro and email sign up bg
$dark-blue-main-bg: hsl(218, 28%, 13%); // main background
$dark-blue-footer: hsl(216, 53%, 9%); // footer background
$dark-blue-testimonials: hsl(219, 30%, 18%); // testimonials background

// Accent
$cyan: hsl(176, 68%, 64%); // inside call-to-action gradient
$blue: hsl(198, 60%, 50%); // inside call-to-action gradient
$light-red: hsl(0, 100%, 63%); // error

// Neutral
$white: white;

// #Typography
// Body Copy
$fs: 14px;

// Headings, Call-to-actions, Header Navigation
$ff-raleway: "Raleway", sans-serif;
$fw-raleway-regular: 400;
$fw-raleway-bold: 700;

// body
$ff-open-sans: "Open Sans", sans-serif;
$fw-open-sans-regular: 400;
$fw-open-sans-bold: 700;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.nav {
	font-family: $ff-raleway;
	background-color: $dark-blue-intro-email;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3rem 4rem;

	&__logo {
		width: 12%;
	}

	&__ul {
		display: flex;
		gap: 3rem;
		list-style: none;
	}

	&__link {
		color: white;
		text-decoration: none;
	}
}

.hero {
	background-image: url("../images/bg-curvy-desktop.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom center;

	font-family: $ff-raleway;
	color: $white;
	background-color: $dark-blue-intro-email;
	padding-bottom: 10rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;

	&__illustration {
		width: 40%;
	}

	&__title {
		width: 40%;
		line-height: 1.5;
		text-align: center;
		font-size: 2rem;
	}

	&__desc {
		width: 35%;
		font-size: 1.1em;
		line-height: 1.5;
		text-align: center;
	}

	&__cta {
		background-color: $blue;
		color: $white;

		font-weight: $fw-raleway-bold;
		text-decoration: none;

		padding: 1em 5em;
		border-radius: 25px;
	}
}

.features {
	background-color: $dark-blue-main-bg;
	color: $white;

	font-family: $ff-raleway;

	padding: 0 20%;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	row-gap: 3rem;
	column-gap: 7rem;

	&__feature {
		text-align: center;
		padding: 1rem 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.9rem;
	}

	&__desc {
		line-height: 1.5;
		color: rgba($white, 0.8);
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
